In [ ]:
print("hello")

# Our First Class

We are learning python :-)

In [2]:
print("Hello World")

Hello World

In [3]:
print(123)

123

In [4]:
print(123,'hey')

123 hey

In [5]:
print(2+2)

4

In [6]:
print("This is AI class\n Dhoraji Association")

This is AI class
 Dhoraji Association

In [7]:
print("Languages:\nPyhton\nRuby\nJavaScript")

Languages:
Pyhton
Ruby
JavaScript

In [8]:
print("Languages:\n\tPyhton\n\tRuby\n\tJavaScript")

Languages:
	Pyhton
	Ruby
	JavaScript

In [9]:
num =20
print(num)
type(num)
id(num)

20

140721350620592

In [29]:
a='1bcd'
b = 'bcd'
print((a) + " " + (b))

1bcd bcd

In [18]:
name='muhammad'
print(name.title())

Muhammad

In [20]:
name='muHamMaD'
print(name.lower())

muhammad

In [21]:
name='muhammad'
print(name.upper())

MUHAMMAD

In [23]:
name1='jahanzaib'
print(name.title()+" "+name1.title())

Muhammad Jahanzaib

In [42]:
print ("tes"*2) #multiple print

tes tes

In [32]:
abc='how are you?'
print(abc)
abc='oh bro'
print(abc)

how are you?
oh bro

In [49]:
import math
num1=10; num2=20; num3=40; num4=12; num5=34;
numt=(num1+num2)/num4
print (math.ceil(numt))
type(numt)

3

float

In [51]:
fn='muhAmmaD'; mn='jaHanZaIb'; ln='asHraF';
fullname=fn+' '+mn+' '+ln
print(fullname)
print(fullname.title())
print(fullname.lower())
print(fullname.upper())

muhAmmaD jaHanZaIb asHraF
Muhammad Jahanzaib Ashraf
muhammad jahanzaib ashraf
MUHAMMAD JAHANZAIB ASHRAF

In [54]:
rem= 5 % 9
print(rem)

5

In [60]:
age=10
age+=2
print(age)

12

In [8]:
for x in range(5):
    print('hey')

hey
hey
hey
hey
hey

"How to take input from user"

'+' sign will do concatenation while ',' is a separator

In [36]:
num1=input("Enter first no=")
num2=input('Enter second no=')
no1=int(num1)
no2=int(num2)
x=no1 + no2
print('Total Value='+str(x))

Enter first no=2
Enter second no=2
Total Value=4

In [18]:
#from IPython.display  import clear_output
n1=int(input('value='))
n2=input('enter string=')
#clear_output()
print(n1,n2)
n3=str(n1)+" "+n2
print(n3)

4 5
4 5

Multiple string in one print fucntion using separator

In [53]:
print('11','03','2019', sep='/')

11/03/2019

Using end statement in print function

In [67]:
print ('Hello World ',' ',sep='@', end='')
print ('Hello Python')

Hello World @ Hello Python

In [2]:
x=pow(2,3)
print(x)

8

# Clear Output
at first "from IPython.display import clear_output"
then where needed "clear_output()"

# If Statement

In [27]:
a=10 #'='assign a value to variable
b=20/2
x=a==b #'==' show comparision
price=int(input('enter price='))
if price==price:
    print('Tamatar 80 rupey kilo')
else:
    print('Tamatar 70 rupay kilo')

enter price=80
Tamatar 80 rupey kilo

In [40]:
if '100'==100:
    print('valid')
else:
    print('Invalid')

Invalid

# Operator & Expressions
https://realpython.com/python-operators-expressions/

In [45]:
a = 4
b = 3
x1=+a #Unary Positive
x2=-b #Unary Negation
x3=a+b #Addition
x4=a - b #Subtraction
x5=a * b #Muliplication
x6=a/b #Division, answer will be in float even it is completely divide
x7=a//b #Division but this time answer will be in integer, it will be round of
x8=a%b
a+=2 #increment
b-=2
print(x1,x2,x3,x4,x5,x6,x7,x8,a,b, sep=' and ')

4 and -3 and 7 and 1 and 12 and 1.3333333333333333 and 1 and 1 and 6 and 1

# Variable Names
 no space in variable name, we use '_'. 
 _ can come in start like _khi. 
 No hyphen('-' or dash)

In [48]:
a=3
a*=4
a
c=20
c/=5
print(a,c,sep=' ')

12 4.0