In [1]:
print("hello")

hello

# Our First Class

We are learning python :-)

In [2]:
print("Hello World")

Hello World

In [3]:
print(123)

123

In [4]:
print(123,'hey')

123 hey

In [5]:
print(2+2)

4

In [6]:
print("This is AI class\n Dhoraji Association")

This is AI class
 Dhoraji Association

In [7]:
print("Languages:\nPyhton\nRuby\nJavaScript")

Languages:
Pyhton
Ruby
JavaScript

In [8]:
print("Languages:\n\tPyhton\n\tRuby\n\tJavaScript")

Languages:
	Pyhton
	Ruby
	JavaScript

In [9]:
num =20
print(num)
type(num)
id(num)

20

140707137500592

In [10]:
a='1bcd'
b = 'bcd'
print((a) + " " + (b))

1bcd bcd

In [11]:
name='muhammad'
print(name.title())

Muhammad

In [12]:
name='muHamMaD'
print(name.lower())

muhammad

In [13]:
name='muhammad'
print(name.upper())

MUHAMMAD

In [14]:
name1='jahanzaib'
print(name.title()+" "+name1.title())

Muhammad Jahanzaib

In [ ]:
print ("tes"*2) #multiple print

testes

In [ ]:
abc='how are you?'
print(abc)
abc='oh bro'
print(abc)

how are you?
oh bro

In [ ]:
import math
num1=10; num2=20; num3=40; num4=12; num5=34;
numt=(num1+num2)/num4
print (math.ceil(numt))
type(numt)

3

float

In [ ]:
fn='muhAmmaD'; mn='jaHanZaIb'; ln='asHraF';
fullname=fn+' '+mn+' '+ln
print(fullname)
print(fullname.title())
print(fullname.lower())
print(fullname.upper())

muhAmmaD jaHanZaIb asHraF
Muhammad Jahanzaib Ashraf
muhammad jahanzaib ashraf
MUHAMMAD JAHANZAIB ASHRAF

In [ ]:
rem= 5 % 9
print(rem)

5

In [ ]:
age=10
age+=2
print(age)

12

In [ ]:
for x in range(5):
    print('hey')

hey
hey
hey
hey
hey

"How to take input from user"

'+' sign will do concatenation while ',' is a separator

In [ ]:
num1=input("Enter first no=")
num2=input('Enter second no=')
no1=int(num1)
no2=int(num2)
x=no1 + no2
print('Total Value='+str(x))

In [ ]:
#from IPython.display  import clear_output
n1=int(input('value='))
n2=input('enter string=')
#clear_output()
print(n1,n2)
n3=str(n1)+" "+n2
print(n3)

Multiple string in one print fucntion using separator

In [ ]:
print('11','03','2019', sep='/')

Using end statement in print function

In [ ]:
print ('Hello World ',' ',sep='@', end='')
print ('Hello Python')

In [ ]:
x=pow(2,3)
print(x)

# Clear Output
at first "from IPython.display import clear_output"
then where needed "clear_output()"

# If Statement

In [ ]:
a=10 #'='assign a value to variable
b=20/2
x=a==b #'==' show comparision
price=int(input('enter price='))
if price==price:
    print('Tamatar 80 rupey kilo')
else:
    print('Tamatar 70 rupay kilo')

In [ ]:
if '100'==100:
    print('valid')
else:
    print('Invalid')

# Operator & Expressions
https://realpython.com/python-operators-expressions/

In [ ]:
a = 4
b = 3
x1=+a #Unary Positive
x2=-b #Unary Negation
x3=a+b #Addition
x4=a - b #Subtraction
x5=a * b #Muliplication
x6=a/b #Division, answer will be in float even it is completely divide
x7=a//b #Division but this time answer will be in integer, it will be round of
x8=a%b
a+=2 #increment
b-=2
print(x1,x2,x3,x4,x5,x6,x7,x8,a,b, sep=' and ')

# Variable Names
 no space in variable name, we use '_'. 
 _ can come in start like _khi. 
 No hyphen('-' or dash)

In [ ]:
a=3
a*=4
a
c=20
c/=5
print(a,c,sep=' ')

In [ ]:
q=10

# and or operators

In [ ]:
q=10; w=20
if q==10 or w==21:
    print('Very Good')
else:
    print("Sorry")

In [ ]:
%autosave 60

In [ ]:
perm=input('Do You Have Permission? (Ans in Yes or No)=').title()
ticket=input('Do You Have Tickets?(Ans in Yes or No)= ').title()
time=input('Is Holiday Today? (Ans in Yes or No)=').title()
if perm=='Yes' and ticket=='Yes' and time=='Yes':
    print('You Can Go!')
else:
    print('Enjoy Your Time at home :-P')

In [23]:
degree=input("Are you bachelor in Engineering? (Ans in Yes or No)=").title()
cert=input("Are You CCNA Certified? (Ans in Yes or No)=").title()
exp=input('Do you Have Experience in this field? (Ans in Yes or No)= ').title()
pasp=input("Do You Have Passport? (Ans in Yes or No)=").title()
if (degree=='Yes' or cert=='Yes') and exp=='Yes' and pasp=='Yes':
    print("Congrats You get the job :-)")
else:
    print("Better Try Next Time")

Are you bachelor in Engineering? (Ans in Yes or No)=no
Are You CCNA Certified? (Ans in Yes or No)=no
Do you Have Experience in this field? (Ans in Yes or No)= yes
Do You Have Passport? (Ans in Yes or No)=yes
Better Try Next Time

# Nested if

In [ ]:
age=int(input('Enter Your Age='))
rem_age=18-age
if age>=18:
    nic=input('Do You Have CNIC? (Ans in Yes or No)= ').title()
    city=input('Enter Your City Name=').title()
    v_list=input('Do You Have Your Name in Voter list? (Ans in Yes or No)=').title()
    if nic=='Yes' and city=='Karachi':
        if v_list=='Yes':
            print('Sahi bande ko vote do :-P')
        else:
            print('Sorry You Dont Have Name in Voter List :-(')
    else:
        print('Apne Shehar me ja kar vote daalo :D')
else:
    print('Your are under age''\nYou will be allowed to vote after',rem_age,'year(s)')

Assignment "ATM through if else"

ctrl+/ for multiline line comment,
''' it is for paragraph comments'''

In [ ]:
# print('hello')
# print('hello')
# print('hello')
# print('hello')

# LIST

In [ ]:
mylist=["A","B","C","D","E"]
print(mylist[2])
print(mylist[-1]) # for reverse order of list
len(mylist) #for length of list

list ko reverse me chalana ho to minus se indexing karenge, like mylist[-2], [-1] wala last value dega

In [ ]:
city=['khi','lhr','hyd','isl','quet','pesh','fsd']
print(city)
city[6]='Skt' #replace or overwrite
print(city)
city.append('Lrk') #append use to add item in list, and it will come at last/ appear at end
print(city)
type(city) #list ki data type list hi hogi

In [21]:
saman=['dahi','anday','double roti','dhaniya','podina']
saman.insert(2,'aalo') #pehle konse index pe insert karna he wo batao, phr kia insert karna he wo likhen
saman.insert(-1,'surf')
print(saman)
saman.remove('anday') #to remove any element from list, remove kuch return nahi karta
print(saman)
del saman[4] #to delete element from list
print(saman)

['dahi', 'anday', 'aalo', 'double roti', 'dhaniya', 'surf', 'podina']
['dahi', 'aalo', 'double roti', 'dhaniya', 'surf', 'podina']
['dahi', 'aalo', 'double roti', 'dhaniya', 'podina']

In [20]:
saman.index('aalo') #to check index

1

In [8]:
"dahi" in saman #ye batayega k ap jo dhund rahe hen wo is list me he ya nahi.

True

# ***Pop in list*** 
Refrence: To DO List

In [28]:
%autosave 60

Autosaving every 60 seconds

# Strip
it is used to remove spaces, whether from left or right or from whole

In [15]:
naalo=' abcd '
print(naalo.lstrip())
print(naalo.strip())
naalo.rstrip()

abcd
abcd

' abcd'

# Slice in List

In [13]:
list1=[9,8,7,6,5,4,3,2,1]
print(list1[3:5])
list2=list1[5:3] #slicing will be from left to right
print(list2)

[6, 5]
[]

In [16]:
list1[5:3] 
reversesliced=list1[-6:-1]
reversesliced

[6, 5, 4, 3, 2]

# Sorting in List

In [61]:
friends=['Zubair','Ahmed Arif','Ahmed Hameed','Wajahat','Taha','Talha','Khalil','Mustajab','Saad']
friends.sort() #sort arrange kar deta he alphabetical order me
print(friends)

['Ahmed Arif', 'Ahmed Hameed', 'Khalil', 'Mustajab', 'Saad', 'Taha', 'Talha', 'Wajahat', 'Zubair']

In [29]:
friends=['Zubair','Ahmed Arif','Ahmed Hameed','Wajahat','Taha','Talha','Khalil','Mustajab','Saad']
friends.sort(reverse=True)
print(friends)

['Zubair', 'Wajahat', 'Talha', 'Taha', 'Saad', 'Mustajab', 'Khalil', 'Ahmed Hameed', 'Ahmed Arif']

In [58]:
friends=['Zubair','Ahmed','Ahmed','Wajahat','Taha','Talha','Khalil','Mustajab','Saad']
friends.reverse() #list ko reverse kar dega
print(friends)

['Saad', 'Mustajab', 'Khalil', 'Talha', 'Taha', 'Wajahat', 'Ahmed', 'Ahmed', 'Zubair']

In [55]:
print(friends[:4])
print(friends[4:])

['Saad', 'Mustajab', 'Khalil', 'Talha']
['Taha', 'Wajahat', 'Ahmed', 'Ahmed', 'Zubair']

***count() and clear() in list***

In [59]:
print(friends.count('Ahmed'))
friends.clear()
print(friends)

2
[]

***del() index mangta he jab k remove() value mangta he***

In [63]:
friends=['Zubair','Ahmed Arif','Ahmed Hameed','Wajahat','Taha','Talha','Khalil','Mustajab','Saad']
friends.remove('Zubair')
print(friends)
del friends[2]
print(friends)

['Ahmed Arif', 'Ahmed Hameed', 'Wajahat', 'Taha', 'Talha', 'Khalil', 'Mustajab', 'Saad']
['Ahmed Arif', 'Ahmed Hameed', 'Taha', 'Talha', 'Khalil', 'Mustajab', 'Saad']

**Sum, Max, Min of list**

In [64]:
values=[45,56,13,5,27,676,44,86]

In [65]:
sum(values)

952

In [66]:
max(values)

676

In [67]:
min(values)

5

**List in List**

In [69]:
listInList= ['q',5,[1,2,3,4,5,6,[4,7,21]]]
listInList

['q', 5, [1, 2, 3, 4, 5, 6, [4, 7, 21]]]

In [70]:
listInList[2][6][0]

4

In [75]:
listInList[2][6].index(21)

2

# Looping/Loops For Loops

In [26]:
for name in range(10): #range ending at nine but start from zero
    print(name,'Muhammad Jahanzaib')

0 Muhammad Jahanzaib
1 Muhammad Jahanzaib
2 Muhammad Jahanzaib
3 Muhammad Jahanzaib
4 Muhammad Jahanzaib
5 Muhammad Jahanzaib
6 Muhammad Jahanzaib
7 Muhammad Jahanzaib
8 Muhammad Jahanzaib
9 Muhammad Jahanzaib

In [27]:
for a in range(1,10): #starting from your own choice
    print("2*",a,'=',2*a)

2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18

In [28]:
for num in range (0,10,2): #even
    print(num)

0
2
4
6
8

In [29]:
for num in range (1,10,2): #odd
    print(num)

1
3
5
7
9

In [24]:
for a in range(1,10,2):
    print("2*",a,'=',2*a)

2* 1 = 2
2* 3 = 6
2* 5 = 10
2* 7 = 14
2* 9 = 18

# How to access members of list using for loop

In [36]:
list1=[11,22,33,44,'55',66,77,88,99,True]
for num in list1:
    print(num,type(num),id(num))

11 <class 'int'> 140716582220944
22 <class 'int'> 140716582221296
33 <class 'int'> 140716582221648
44 <class 'int'> 140716582222000
55 <class 'str'> 388645854432
66 <class 'int'> 140716582222704
77 <class 'int'> 140716582223056
88 <class 'int'> 140716582223408
99 <class 'int'> 140716582223760
True <class 'bool'> 140716581689680

In [52]:
even=[]
odd=[]
list1=[11,22,33,44,55,66,77,88,99]
for chk in list1:
    if chk%2==0:
        even.append(chk)
    else:
        odd.append(chk)
print("Even")
for ev in even:
    print(ev,end=' ')
print ('\nOdd')
for od in odd:
    print(od,end=' ')

Even
22 44 66 88
Odd
11 33 55 77 99

In [43]:
x=1
for members in ['tesla','spaceX','amazon','apple']:
    print(x,members)
    x+=1

1 tesla
2 spaceX
3 amazon
4 apple

In [19]:
frnds=['Ahmed','Taha','Talha','Khalil','Adeel','Wajahat','Khalid']
rltvs=['Raza','Hamza','Adeel','Khalid','Mansoor','Ahmed']
close_friend=[]
for find in frnds:
    for Find in rltvs:
        if find==Find:
            close_friend.append(find)
close_friend.sort()
print('My Close Friends Are',end=' = ')
for cf in close_friend:
    print(cf,end=' ')

My Close Friends Are = Adeel Ahmed Khalid

In [21]:
for friends in frnds[2]:
    xyz=friends
    print(xyz)

T
a
l
h
a

In [12]:
items=['Bat','Ball','Gloves','Football','Hockey','Volley Ball','Golf','Racket','Shuttle']
print('First Three Items Are=',end=' ')
for first3 in items[0:3]:
    print(first3,end=' ')
print('\nMiddle 3 Items Are=',end=' ')
for middle3 in items[3:6]:
    print(middle3,end=' ')
print('\nLast 3 Items Are=',end=' ')
for last3 in items[6:]:
    print(last3,end=' ')

First Three Items Are= Bat Ball Gloves
Middle 3 Items Are= Football Hockey Volley Ball
Last 3 Items Are= Golf Racket Shuttle

In [22]:
cap_list=[]
sent='My Name is Muhammad Jahaznaib'+'I Live in Pakistan'
for cap in sent:
    if cap==' ':
        ignore=0
    elif cap==cap.upper():
        cap_list.append(cap)
print('Capital Letters are=',end=' ')
for upper in cap_list:
    print(upper,end=' ')

Capital Letters are= M N M J I L P

In [8]:
UpperCount = 0 
LowerCount = 0
space=0
word = input('Enter a word: ')
for letter in word:
    if letter==' ':
        space+=1
    elif letter == letter.upper():
        UpperCount+=1
    else:
        LowerCount+=1
print(space)
print(UpperCount)
print(LowerCount)

Enter a word: ABC vqs DEF xyz
3
6
6

**String ki indexing or slicing kar sakte hen magar overwrite or delete nahi kar sakte**

In [24]:
country="Pakistan"
country[4]

's'

In [25]:
country[1:5]

'akis'

In [26]:
country[3]='d'

TypeError: 'str' object does not support item assignment

In [27]:
del country[4]

TypeError: 'str' object doesn't support item deletion

# String Formatting

In [29]:
name='fahad'
f_name='ali'
print("My friend name is "+name+' and his father name is '+f_name)

My friend name is fahad and his father name is ali

In [36]:
print("My friend name is {} and his father name is {} ".format(name,f_name)) #{} it is place holde

My friend name is fahad and his father name is ali

In [37]:
print(f"My friend name is {name} and his father name is {f_name} ")

My friend name is fahad and his father name is ali

In [40]:
students=100
z='There are {} student'.format(students)
print(z)

There are 100 student

In [43]:
mylist=['Jahanzaib', '4 June',1996]
print(f"My name is {mylist[0]} my date of birth is {mylist[1]} and year of birth is {mylist[2]}")

My name is Jahanzaib my date of birth is 4 June and year of birth is 1996

# Tuple
Like the list but it is "Immutable", it can not be modified nor delete

In [1]:
myTuple=('apple','banana','peach','lychee')
type(myTuple)

tuple

In [50]:
second_tuple=myTuple[0:3]
print(second_tuple)
type(second_tuple)

('apple', 'banana', 'peach')

tuple

In [2]:
a=12,34,1434,234234,536,6776 #packing of values
print(a)

(12, 34, 1434, 234234, 536, 6776)

In [4]:
b,c,d,e,f,g=a
print(b)

6776

In [2]:
tupple=myTuple[2]
print(type(tupple))

<class 'str'>

In [22]:
cities=('Mexico','Cali','Medelin','Kuala Lampur','Bali','karachi','Abbotabad')
mycity=cities[5]
print('I belong to {} and my friend lives in {}'.format(mycity.upper(),cities[6].upper()))
print(f'I belong to {mycity.title()} and my cousin lives in {cities[3].upper()}')

I belong to KARACHI and my friend lives in ABBOTABAD
I belong to Karachi and my cousin lives in KUALA LAMPUR

In [16]:
tup1=('Physics','Chemistry','Maths','Computer','Biology')
tup2=(1,2,3,4,5,6)
print("tup1[3]=",tup1[3].upper())
print('tup2[0:5]',tup2[0:5])

tup1[3]= COMPUTER
tup2[0:5] (1, 2, 3, 4, 5)

In [20]:
print('I am too bad in {}'.format(tup1[1].upper()))
print(f'I like {tup1[2]}')

I am too bad in CHEMISTRY
I like Maths

In [23]:
tup3=tup2+tup1
print(tup3)

(1, 2, 3, 4, 5, 6, 'Physics', 'Chemistry', 'Maths', 'Computer', 'Biology')

In [24]:
fruit_tupple=('Apple','Banana',"Cherry")
for x in fruit_tupple:
    print(x)

Apple
Banana
Cherry

In [27]:
if 'apple'.title() in fruit_tupple:
    print('Apple is there')

Apple is there

In [31]:
if 'strawberry'.title() in fruit_tupple:
    print('Apple is there')
else: 
    print('Strawberry is not there')

Strawberry is not there

In [29]:
print(len(fruit_tupple))

3

In [30]:
dusra_tuple=(1,2,3,4,5)
print(dusra_tuple)
del dusra_tuple
print('After deleting tup')
print(dusra_tuple)

(1, 2, 3, 4, 5)
After deleting tup

NameError: name 'dusra_tuple' is not defined

# Dictionaries
Dictionary _{ }_ me aati he

In [34]:
a={'key':'value'}
print(a['key'])

value

In [36]:
alien={'color':'green','points':5}
print(alien['color'])
print(alien['points'])

green
5

In [37]:
myDict={1:11,2:22,3:33}

In [38]:
myDict1={1:'Pak',2:'Sindh',3:'Khi'}

In [40]:
myDict2={'name':'Jahanzaib','f_name':'Ashraf'}

In [41]:
myDict3={'name':'Dhoraji','type':'Association','work':'Association'}

In [46]:
myDict4={'type':'Dhoraji','type':'Association','work':'Association'}

In [47]:
myDict4['type'] #aage wali value piche wali ko overwrite kar degi

'Association'

In [49]:
mydict5={1:['abc','def']} #aik key ko zaida values dene k liye wahan list ya tuple bana denge
print(mydict5[1])

['abc', 'def']

In [67]:
myDict6={1:{11:111,22:222,33:333},2:{22:222,33:333,44:444}}
myDict6[2][33]

333

In [68]:
alien_0={'color':'green','points':5}
print(alien_0)
alien_0['x Position']=0
alien_0['y Position']=10
print(alien_0)

{'color': 'green', 'points': 5}
{'color': 'green', 'points': 5, 'x Position': 0, 'y Position': 10}

In [84]:
foods={}
foods['karahi']=['Shahi','White','Brown',"Peshawari",'Kashmiri']
foods['BBQ']='Tikka','Malai Boti','Reshmi Kabab'
foods['Rice']={'Biryani','Pulao'}
foods['Drinks']='7Up'
foods['IceCream']={'Italian':'Alpine','French':'Mango','Local':['Pista','Almond','Blueberry']}
print(foods['IceCream']['Local'][2])
#foods['Italian']['Local']=['Pista','Mango','Vanilla']

Blueberry

In [92]:
players={'Watson':'Australian International Cricketer'}
print('Shane Watson is an {}'.format(players['Watson']+"."))
players['Sarfaraz Ahmed']='Captain of Pakistan Team'.upper()
print('Sarafarz Ahmed is {}'.format(players['Sarfaraz Ahmed']))

Shane Watson is an Australian International Cricketer.
Sarafarz Ahmed is CAPTAIN OF PAKISTAN TEAM

In [97]:
psl={'Karachi':'Kings','Multan':'Sultans','Zalmi':'Won'}
print('Karachi is '+psl['Karachi']+'.')
if psl['Zalmi']=='Loser':
    x_inc=1
elif psl['Zalmi']=='Won':
    x_inc=2
else:
    x_inc=3
psl['Zalmi']=psl['Zalmi']+' '+str(x_inc)
print('Psl4 Zalmi :'+psl['Zalmi'])

Karachi is Kings.
Psl4 Zalmi :Won 2