In [1]:
print("hello")

hello

# Our First Class

We are learning python :-)

In [2]:
print("Hello World")

Hello World

In [3]:
print(123)

123

In [4]:
print(123,'hey')

123 hey

In [5]:
print(2+2)

4

In [6]:
print("This is AI class\n Dhoraji Association")

This is AI class
 Dhoraji Association

In [7]:
print("Languages:\nPyhton\nRuby\nJavaScript")

Languages:
Pyhton
Ruby
JavaScript

In [8]:
print("Languages:\n\tPyhton\n\tRuby\n\tJavaScript")

Languages:
	Pyhton
	Ruby
	JavaScript

In [9]:
num =20
print(num)
type(num)
id(num)

20

140707137500592

In [10]:
a='1bcd'
b = 'bcd'
print((a) + " " + (b))

1bcd bcd

In [11]:
name='muhammad'
print(name.title())

Muhammad

In [12]:
name='muHamMaD'
print(name.lower())

muhammad

In [13]:
name='muhammad'
print(name.upper())

MUHAMMAD

In [14]:
name1='jahanzaib'
print(name.title()+" "+name1.title())

Muhammad Jahanzaib

In [ ]:
print ("tes"*2) #multiple print

testes

In [ ]:
abc='how are you?'
print(abc)
abc='oh bro'
print(abc)

how are you?
oh bro

In [ ]:
import math
num1=10; num2=20; num3=40; num4=12; num5=34;
numt=(num1+num2)/num4
print (math.ceil(numt))
type(numt)

3

float

In [ ]:
fn='muhAmmaD'; mn='jaHanZaIb'; ln='asHraF';
fullname=fn+' '+mn+' '+ln
print(fullname)
print(fullname.title())
print(fullname.lower())
print(fullname.upper())

muhAmmaD jaHanZaIb asHraF
Muhammad Jahanzaib Ashraf
muhammad jahanzaib ashraf
MUHAMMAD JAHANZAIB ASHRAF

In [ ]:
rem= 5 % 9
print(rem)

5

In [ ]:
age=10
age+=2
print(age)

12

In [ ]:
for x in range(5):
    print('hey')

hey
hey
hey
hey
hey

"How to take input from user"

'+' sign will do concatenation while ',' is a separator

In [ ]:
num1=input("Enter first no=")
num2=input('Enter second no=')
no1=int(num1)
no2=int(num2)
x=no1 + no2
print('Total Value='+str(x))

In [ ]:
#from IPython.display  import clear_output
n1=int(input('value='))
n2=input('enter string=')
#clear_output()
print(n1,n2)
n3=str(n1)+" "+n2
print(n3)

Multiple string in one print fucntion using separator

In [ ]:
print('11','03','2019', sep='/')

Using end statement in print function

In [ ]:
print ('Hello World ',' ',sep='@', end='')
print ('Hello Python')

In [ ]:
x=pow(2,3)
print(x)

# Clear Output
at first "from IPython.display import clear_output"
then where needed "clear_output()"

# If Statement

In [ ]:
a=10 #'='assign a value to variable
b=20/2
x=a==b #'==' show comparision
price=int(input('enter price='))
if price==price:
    print('Tamatar 80 rupey kilo')
else:
    print('Tamatar 70 rupay kilo')

In [ ]:
if '100'==100:
    print('valid')
else:
    print('Invalid')

# Operator & Expressions
https://realpython.com/python-operators-expressions/

In [ ]:
a = 4
b = 3
x1=+a #Unary Positive
x2=-b #Unary Negation
x3=a+b #Addition
x4=a - b #Subtraction
x5=a * b #Muliplication
x6=a/b #Division, answer will be in float even it is completely divide
x7=a//b #Division but this time answer will be in integer, it will be round of
x8=a%b
a+=2 #increment
b-=2
print(x1,x2,x3,x4,x5,x6,x7,x8,a,b, sep=' and ')

# Variable Names
 no space in variable name, we use '_'. 
 _ can come in start like _khi. 
 No hyphen('-' or dash)

In [ ]:
a=3
a*=4
a
c=20
c/=5
print(a,c,sep=' ')

In [ ]:
q=10

# and or operators

In [ ]:
q=10; w=20
if q==10 or w==21:
    print('Very Good')
else:
    print("Sorry")

In [ ]:
%autosave 60

In [ ]:
perm=input('Do You Have Permission? (Ans in Yes or No)=').title()
ticket=input('Do You Have Tickets?(Ans in Yes or No)= ').title()
time=input('Is Holiday Today? (Ans in Yes or No)=').title()
if perm=='Yes' and ticket=='Yes' and time=='Yes':
    print('You Can Go!')
else:
    print('Enjoy Your Time at home :-P')

In [ ]:
degree=input("Are you bachelor in Engineering? (Ans in Yes or No)=").title()
cert=input("Are You CCNA Certified? (Ans in Yes or No)=").title()
exp=input('Do you Have Experience in this field? (Ans in Yes or No)= ').title()
pasp=input("Do You Have Passport? (Ans in Yes or No)=").title()
if (degree=='Yes' or cert=='Yes') and exp=='Yes' and pasp=='Yes':
    print("Congrats You get the job :-)")
else:
    print("Better Try Next Time")

# Nested if

In [ ]:
age=int(input('Enter Your Age='))
rem_age=18-age
if age>=18:
    nic=input('Do You Have CNIC? (Ans in Yes or No)= ').title()
    city=input('Enter Your City Name=').title()
    v_list=input('Do You Have Your Name in Voter list? (Ans in Yes or No)=').title()
    if nic=='Yes' and city=='Karachi':
        if v_list=='Yes':
            print('Sahi bande ko vote do :-P')
        else:
            print('Sorry You Dont Have Name in Voter List :-(')
    else:
        print('Apne Shehar me ja kar vote daalo :D')
else:
    print('Your are under age''\nYou will be allowed to vote after',rem_age,'year(s)')

Assignment "ATM through if else"

ctrl+/ for multiline line comment,
''' it is for paragraph comments'''

In [ ]:
# print('hello')
# print('hello')
# print('hello')
# print('hello')

# LIST

In [ ]:
mylist=["A","B","C","D","E"]
print(mylist[2])
print(mylist[-1]) # for reverse order of list
len(mylist) #for length of list

list ko reverse me chalana ho to minus se indexing karenge, like mylist[-2], [-1] wala last value dega

In [ ]:
city=['khi','lhr','hyd','isl','quet','pesh','fsd']
print(city)
city[6]='Skt' #replace or overwrite
print(city)
city.append('Lrk') #append use to add item in list, and it will come at last/ appear at end
print(city)
type(city) #list ki data type list hi hogi

In [21]:
saman=['dahi','anday','double roti','dhaniya','podina']
saman.insert(2,'aalo') #pehle konse index pe insert karna he wo batao, phr kia insert karna he wo likhen
saman.insert(-1,'surf')
print(saman)
saman.remove('anday') #to remove any element from list, remove kuch return nahi karta
print(saman)
del saman[4] #to delete element from list
print(saman)

['dahi', 'anday', 'aalo', 'double roti', 'dhaniya', 'surf', 'podina']
['dahi', 'aalo', 'double roti', 'dhaniya', 'surf', 'podina']
['dahi', 'aalo', 'double roti', 'dhaniya', 'podina']

In [20]:
saman.index('aalo') #to check index

1

In [8]:
"dahi" in saman #ye batayega k ap jo dhund rahe hen wo is list me he ya nahi.

True

# Pop in list

In [ ]:
%autosave 60

# Strip
it is used to remove spaces, whether from left or right or from whole

In [15]:
naalo=' abcd '
print(naalo.lstrip())
print(naalo.strip())
naalo.rstrip()

abcd
abcd

' abcd'