<a href="https://colab.research.google.com/github/MuhammadHamzaAfzal/Python_Class_Work_jz/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from numpy import nan

In [0]:
a = ["ahsan","ali",23,True,"umer",False]

In [0]:
obj1=pd.Series([23,32,46,52,66])
obj1

0    23
1    32
2    46
3    52
4    66
dtype: int64

In [0]:
obj1[2]

46

In [0]:
obj1[4]=5000
obj1

0      23
1      32
2      46
3      52
4    5000
dtype: int64

In [0]:
obj1[5]= 90

In [0]:
obj1

0      23
1      32
2      46
3      52
4    5000
5      90
dtype: int64

In [0]:
obj1.mean()

873.8333333333334

In [0]:
obj2 = pd.Series(["ahsan","ali",'umer','taha'],index = ['a','al','u','t'])
obj2

a     ahsan
al      ali
u      umer
t      taha
dtype: object

In [0]:
obj2[2]

'umer'

In [0]:
fruits = pd.Series(['banana','orange',nan,'mango',nan])
fruits

0    banana
1    orange
2       NaN
3     mango
4       NaN
dtype: object

In [0]:
fruits.dropna()

0    banana
1    orange
3     mango
dtype: object

In [0]:
fruits.isnull()

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [0]:
fruits.notnull()

0     True
1     True
2    False
3     True
4    False
dtype: bool

In [0]:
fruits[fruits.isnull()]

2    NaN
4    NaN
dtype: object

In [0]:
fruits[fruits.notnull()]

0    banana
1    orange
3     mango
dtype: object

In [0]:
num=pd.Series([20,40,nan,50,60,70,nan,80,nan,90,100])

In [0]:
b = num.mean()
b

63.75

In [0]:
num.fillna(b)

0      20.00
1      40.00
2      63.75
3      50.00
4      60.00
5      70.00
6      63.75
7      80.00
8      63.75
9      90.00
10    100.00
dtype: float64

In [0]:
money = pd.Series([2340,7800,8900,7865,6543])
money

0    2340
1    7800
2    8900
3    7865
4    6543
dtype: int64

In [0]:
dates = pd.date_range("2019-07-11","2019-07-15")
dates

DatetimeIndex(['2019-07-11', '2019-07-12', '2019-07-13', '2019-07-14',
               '2019-07-15'],
              dtype='datetime64[ns]', freq='D')

In [0]:
obj3 = pd.Series(money.values , index = dates)

In [0]:
obj3

2019-07-11    2340
2019-07-12    7800
2019-07-13    8900
2019-07-14    7865
2019-07-15    6543
Freq: D, dtype: int64

In [0]:
obj3['2019-07-12' : '2019-07-14']

2019-07-12    7800
2019-07-13    8900
2019-07-14    7865
Freq: D, dtype: int64

In [0]:
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [0]:
 obj.values

array([ 4,  7, -5,  3])

In [0]:
obj.index # like range(4)

RangeIndex(start=0, stop=4, step=1)

In [0]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])

In [0]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [0]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [0]:
obj2['a']

-5

In [0]:
obj2['d'] = 6

In [0]:
obj2[['c', 'a', 'd']]

c    3
a   -5
d    6
dtype: int64

In [0]:
obj2[obj2 > 0]

d    6
b    7
c    3
dtype: int64

In [0]:
obj2 * 2

d    12
b    14
a   -10
c     6
dtype: int64

In [0]:
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [0]:
'b' in obj2

True

In [0]:
'e' in obj2

False

In [0]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [0]:
obj3 = pd.Series(sdata)

In [0]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [0]:
states = ['California', 'Ohio', 'Oregon', 'Texas']

In [0]:
 obj4 = pd.Series(sdata, index=states)

In [0]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [0]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [0]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [0]:
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [0]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [0]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [0]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [0]:
obj4.name = 'population'

In [0]:
obj4.index.name = 'state'

In [0]:
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [0]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [0]:
 obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']

In [0]:
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

# Data Frame

In [4]:
dates=pd.date_range("2019-07-1","2019-07-8")
dates

DatetimeIndex(['2019-07-01', '2019-07-02', '2019-07-03', '2019-07-04',
               '2019-07-05', '2019-07-06', '2019-07-07', '2019-07-08'],
              dtype='datetime64[ns]', freq='D')

In [5]:
obj=pd.Series([270,250,190,200,300,250,220,180],index=dates)
obj2=pd.Series([710,205,109,820,430,825,922,185],index=dates)
obj,obj2

(2019-07-01    270
 2019-07-02    250
 2019-07-03    190
 2019-07-04    200
 2019-07-05    300
 2019-07-06    250
 2019-07-07    220
 2019-07-08    180
 Freq: D, dtype: int64, 2019-07-01    710
 2019-07-02    205
 2019-07-03    109
 2019-07-04    820
 2019-07-05    430
 2019-07-06    825
 2019-07-07    922
 2019-07-08    185
 Freq: D, dtype: int64)

In [6]:
money=pd.DataFrame({'Monday':obj,'Tuesday':obj2})
money

            Monday  Tuesday
2019-07-01     270      710
2019-07-02     250      205
2019-07-03     190      109
2019-07-04     200      820
2019-07-05     300      430
2019-07-06     250      825
2019-07-07     220      922
2019-07-08     180      185

In [0]:
ab=money['Monday']

In [8]:
ab['2019-07-03':'2019-07-07']

2019-07-03    190
2019-07-04    200
2019-07-05    300
2019-07-06    250
2019-07-07    220
Freq: D, Name: Monday, dtype: int64

In [9]:
diff=money.Monday-money.Tuesday
diff

2019-07-01   -440
2019-07-02     45
2019-07-03     81
2019-07-04   -620
2019-07-05   -130
2019-07-06   -575
2019-07-07   -702
2019-07-08     -5
Freq: D, dtype: int64

In [10]:
prod=money.Monday*money.Tuesday
prod

2019-07-01    191700
2019-07-02     51250
2019-07-03     20710
2019-07-04    164000
2019-07-05    129000
2019-07-06    206250
2019-07-07    202840
2019-07-08     33300
Freq: D, dtype: int64

In [11]:
money['Wednesday']=diff
money['Thursday']=prod
money

            Monday  Tuesday  Wednesday  Thursday
2019-07-01     270      710       -440    191700
2019-07-02     250      205         45     51250
2019-07-03     190      109         81     20710
2019-07-04     200      820       -620    164000
2019-07-05     300      430       -130    129000
2019-07-06     250      825       -575    206250
2019-07-07     220      922       -702    202840
2019-07-08     180      185         -5     33300

In [12]:
money.Wednesday["2019-07-03" : "2019-07-07"]

2019-07-03     81
2019-07-04   -620
2019-07-05   -130
2019-07-06   -575
2019-07-07   -702
Freq: D, Name: Wednesday, dtype: int64

In [19]:
money.iloc[-2]

Monday          220
Tuesday         922
Wednesday      -702
Thursday     202840
Name: 2019-07-07 00:00:00, dtype: int64

In [18]:
money.loc["2019-07-04"]

Monday          200
Tuesday         820
Wednesday      -620
Thursday     164000
Name: 2019-07-04 00:00:00, dtype: int64

In [20]:
money.Wednesday[money.Wednesday<0]

2019-07-01   -440
2019-07-04   -620
2019-07-05   -130
2019-07-06   -575
2019-07-07   -702
2019-07-08     -5
Name: Wednesday, dtype: int64

In [21]:
money[money.Wednesday<0]

            Monday  Tuesday  Wednesday  Thursday
2019-07-01     270      710       -440    191700
2019-07-04     200      820       -620    164000
2019-07-05     300      430       -130    129000
2019-07-06     250      825       -575    206250
2019-07-07     220      922       -702    202840
2019-07-08     180      185         -5     33300

In [23]:
money.iloc[[0,1,-1]].Wednesday

2019-07-01   -440
2019-07-02     45
2019-07-08     -5
Name: Wednesday, dtype: int64

In [24]:
money.Wednesday[[0,1,-1]]

2019-07-01   -440
2019-07-02     45
2019-07-08     -5
Name: Wednesday, dtype: int64

In [25]:
money.head()

            Monday  Tuesday  Wednesday  Thursday
2019-07-01     270      710       -440    191700
2019-07-02     250      205         45     51250
2019-07-03     190      109         81     20710
2019-07-04     200      820       -620    164000
2019-07-05     300      430       -130    129000

In [26]:
money.tail()

            Monday  Tuesday  Wednesday  Thursday
2019-07-04     200      820       -620    164000
2019-07-05     300      430       -130    129000
2019-07-06     250      825       -575    206250
2019-07-07     220      922       -702    202840
2019-07-08     180      185         -5     33300

In [27]:
money.head(2).Monday

2019-07-01    270
2019-07-02    250
Freq: D, Name: Monday, dtype: int64

In [29]:
q = pd.Series([2,4,6,65,32], pd.RangeIndex(start = 0 , stop = 10 ,step = 2))
q

0     2
2     4
4     6
6    65
8    32
dtype: int64